.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

  --search-height: 46px;
}
.inner {
  height: 100%;
  width: var(--default-layout-width, 1150px);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  cursor: pointer;
  display: flex;
}

// Action
.actions {
  display: flex;
  align-items: center;
}

.action-btn {
  position: relative;
  background-color: transparent;
  font-size: 2.2rem;
  color: #161823;
  cursor: pointer;
  padding: 4px 10px;
  display: flex;
}

.badge {
  position: absolute;
  top: -3px;
  right: 0px;
  padding: 0 5px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  font-family: var(--font-family);
  background-color: var(--primary);
}

.more-btn {
  font-size: 2rem;
  background-color: transparent;
  margin-left: 20px;
  color: rgb(31, 31, 31);
  padding: 5px 12px;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 10px;
}

// Custom button
.button-upload {
  border: 1px solid rgb(22 24 35 / 12%) !important;

  &:hover {
    background-color: rgb(22 24 35 / 3%);
  }
}
